body {
  margin: 20px 60px;
}

h1,
h3 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

table,
td,
th {
  border: 1px solid;
  padding: 12px 20px;
  margin: 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 10px 10px;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
